diffusers==0.12.1
transformers==4.26.1
--extra-index-url https://download.pytorch.org/whl/cu113 
torch==1.12.1
torchvision==0.13.1
gradio==3.5
ray[serve]==2.2.0
fastapi==0.88.0
httpx==0.23.1
starlette==0.22.0
fsspec==2023.1.0
protobuf==3.20.*
